<div class="user">
  <div class="user-wrapper">
    <h2 class="user-nickname">
      <%= "#{@user.nickname}さんの詳細" %>
    </h2>

    <%# ユーザー情報編集ボタン %>
    <% if user_signed_in? && current_user.id == @user.id %>
      <%= link_to "ユーザー情報編集", edit_user_registration_path, class:"user-edit-btn" %>
    <% end %>
    <%# //ユーザー情報編集ボタン %>

    <div class="user-profile">
      <div class="profile-title">
        profile
      </div>
      <div class="user-profile-content">
        <%= @user.profile %>
      </div>
    <div>

    <h2 class="post-log-title">
      <%= "#{@user.nickname}さんが紹介している猫ちゃん達" %>
    </h2>

    <div class="post-log">
      <% @cats.each do |cat| %>
        <%= link_to cat_path(cat.id), class: 'link-to-list' do %>
          <div class="log-list">
            <%= image_tag cat.image, class:'log-image', :size => '155x160' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>