<div class="post">
  <header class="post-header">
    New Cat
  </header>
  <div class="post-main">
    <h2 class="post-main-title">新しい猫ちゃんを紹介</h2>
    <%= form_with model: @cat, local: true do |f| %>

    <%# エラーハンドリング %>
    <%= render 'layouts/error_messages', model: f.object %>
    <%# /エラーハンドリング %>

      <%# 猫の画像 %>
      <div class="cat-image">
        <div class="cat-image-title">
          猫ちゃん画像
          <span class="indispensable">必須</span>
        </div>
        <div class="click-upload">
          <p>
            画像ファイルを選択してアップロード
          </p>
          <%= f.file_field :image %>
        </div>
      </div>
      <%# /猫の画像 %>

      <%# 猫の詳細 %>
      <div class="cat-detail">
        <div class="cat-detail-title">猫ちゃんの詳細</div>
        <%# 名称 %>
        <div class="cat-name-title">
          名称
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :name, class:"cat-name" %>
        <%# /名称 %>
        
        <%# 年齢 %>
        <div class="cat-age-title">
          年齢
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :age, class:"cat-age" %>
        <%# /年齢 %>

        <%# 種類 %>
        <div class="cat-breed-title">
          種類
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :breed, class:"cat-breed" %>
        <%# /種類 %>

        <%# 所在地 %>
        <div class="cat-prefecture-title">
          所在地
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box"}) %>
        <%# /所在地 %>

        <%# 性別 %>
        <div class="cat-sex-title">
          性別
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}, {class:"select-box"}) %>
        <%# /性別 %>

        <%# ワクチン有無 %>
        <div class="cat-vaccine-title">
          ワクチン
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:vaccine_id, Vaccine.all, :id, :name, {}, {class:"select-box"}) %>
        <%# /ワクチン有無 %>
        <%# 去勢有無 %>
        <div class="cat-castration-title">
          去勢
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:castration_id, Castration.all, :id, :name, {}, {class:"select-box"}) %>
        <%# /去勢有無 %>

        <%# 性格 %>
        <div class="cat-personality-title">
          性格
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :personality, class:"cat-personality" %>
        <%# /性格 %>

        <%# 健康状態 %>
        <div class="cat-health-title">
          健康状態
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :health, class:"cat-health" %>
        <%# /健康状態 %>

        <%# 引き渡し方法 %>
        <div class="cat-adopt-title">
          引き渡し方法
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :adopt_method, class:"cat-adopt" %>
        <%# /引き渡し方法 %>

        <%# 備考 %>
        <div class="cat-remarks">
          備考
        </div>
        <%= f.text_area :remarks, class:"cat-remarks" %>
        <%# /備考 %>
      </div>
      <%# /猫の詳細 %>

      <%# 紹介ボタン %>
      <div class="post-btn-contents">
        <%= f.submit "紹介する", class:"post-btn" %>
        <%= link_to 'もどる', root_path, class:"back-btn" %>
      </div>
      <%# /紹介ボタン %>
    <% end %>
  </div>
</div>